<section class="slide-gallery">
	<h2 class="slide-gallery__title">Галерея</h2>
	<img src="./img/gallery/bg-top.jpg" alt="soap" class="slide-gallery__bg">
</section>
<section class="container gallery-previews">
	<article class="previews">
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Праздничные коллекции</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Средства по уходу</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мужская коллекция</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Женская коллекция</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Детская коллекции</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мыльные букеты</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Духи ручной работы</h3>
			</a>
	</article>
	<button class="btn-more" id="btn-more">Показать все</button>
</section>
<section class="container gallery-grid">
	<article class="cards">
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="./img/gallery/item1.jpg" alt="soap" class="card__img">
				</div>
				<h3 class="card__title">Мыло клубничка</h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="./img/gallery/item2.jpg" alt="soap" class="card__img">
				</div>
				<h3 class="card__title">Мыло Торт</h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="./img/gallery/item3.jpg" alt="soap" class="card__img">
				</div>
				<h3 class="card__title">Мыло Сердце</h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise-value">50</span>
				<span class="card__currency">грн</span>
			</a>
	</article>
	<article class="cards hide">
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
	</article>
	<article class="cards hide">
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
			<a href="#" class="card__item">
				<div class="card__img-wrap">
					<img src="" alt="soap" class="card__img">
				</div>
				<h3 class="card__title"></h3>
				<span class="card__prise"></span>
			</a>
	</article>
	<button class="btn-more" id="btn-more">Показать больше</button>
</section>