<section class="slide-gallery">
	<h2 class="slide-gallery__title">Галлерея</h2>
	<img src="./img/gallery/bg-top.jpg" alt="soap" class="slide-gallery__bg">
</section>
<section class="container gallery-previews">
	<article class="previews">
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Праздничные коллекции</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Средства по уходу</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мужская коллекция</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Женская коллекция</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Детская коллекции</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мыльные букеты</h3>
			</a>
			<a href="#" class="previews__items">
				<div class="previews__img-wrap">
					<img src="" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Духи ручной работы</h3>
			</a>
	</article>
	<button class="btn-more" id="btn-more">Показать больше</button>
</section>