<section class="slide-gallery">
	<h2 class="slide-gallery__title">Галерея</h2>
	<img src="./img/gallery/cookiebg.jpg" alt="soap" class="slide-gallery__bg">
</section>
<section class="container gallery-previews">
	<article class="previews">
			<a href="#holiday-collection" class="previews__items showGallery holidayShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-set.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Праздничные коллекции</h3>
			</a>
			<a href="#beauty-collection" class="previews__items beautyShow showGallery">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-beauty.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Средства по уходу</h3>
			</a>
			<a href="#man-collection" class="previews__items showGallery manShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-man.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мужская коллекция</h3>
			</a>
			<a href="#woman-collection" class="previews__items showGallery womanShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-woman.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Женская коллекция</h3>
			</a>
			<a href="#baby-collection" class="previews__items showGallery babyShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-lol.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Детская коллекция</h3>
			</a>
			<a href="#bouquet-collection" class="previews__items showGallery bouquetShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-bouquet.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Мыльные букеты</h3>
			</a>
			<a href="#perfume-collection" class="previews__items showGallery perfumeShow">
				<div class="previews__img-wrap">
					<img src="./img/gallery/prev-perfume.jpg" alt="soap" class="previews__img">
				</div>
				<h3 class="previews__title">Духи ручной работы</h3>
			</a>
	</article>
	<button class="btn-more" id="btn-all">Показать все</button>
</section>
<section class="container gallery-grid" id="woman-collection">
	<h4 class="gallery-grid__title">Женская коллекция</h4>
	<article class="cards goodsWoman">
	</article>
</section>
<section class="container gallery-grid" id="man-collection">
	<h4 class="gallery-grid__title">Мужская коллекция</h4>
	<article class="cards goodsMan">
	</article>
</section>
<section class="container gallery-grid" id="holiday-collection">
	<h4 class="gallery-grid__title">Праздничные коллекции</h4>
	<article class="cards goodsHoliday">
	</article>
</section>
<section class="container gallery-grid" id="beauty-collection">
	<h4 class="gallery-grid__title">Средства по уходу</h4>
	<article class="cards goodsBeauty">
	</article>
</section>
<section class="container gallery-grid" id="baby-collection">
	<h4 class="gallery-grid__title">Детская коллекция</h4>
	<article class="cards goodsBaby">
	</article>
</section>
<section class="container gallery-grid" id="bouquet-collection">
	<h4 class="gallery-grid__title">Мыльные букеты</h4>
	<article class="cards goodsBouquet">
	</article>
</section>
<section class="container gallery-grid" id="perfume-collection">
	<h4 class="gallery-grid__title">Духи ручной работы</h4>
	<article class="cards goodsPerfume">
	</article>
</section>
<section class="container gallery-grid" id="allGoods">
	<h4 class="gallery-grid__title">Вся коллекция</h4>
	<article class="cards goodsAll">
	</article>
</section>

