<article class="slide-gallery">
	<h2 class="slide-gallery__title">Продукция</h2>
	<img src="./img/product/bg-top-product.jpg" alt="soap" class="slide-gallery__bg">
</article>
<article class="descriptionProduct container">
	<div class="lufa-about">
		<a href="#" class="descriptionProduct__link">
			<h2 class="descriptionProduct__title">Люфа</h2>
		</a>
		<p class="descriptionProduct__text">Мыло с люфой -это универсальное средство по уходу с антицелюлитным дейсвией .
			Такое мыло идеально для проведения мыльного массажа тела без мочалки.<br><br>  
			Свойства:<br>
				- активно регенерирует кожу;<br>
				- активизирует обменные процессы;<br>
				- стимулирует кровообращение;<br>
				- эффективно отшелушивает мёртвые, ороговевшие клетки с поверхности кожи, не повреждая ее;<br>
				- насыщает кожу минералами и витаминами;<br>
				- благодаря природным скрабящим частичкам выравнивает рельеф кожи, делая ее более гладкой и шелковистой;<br>
				- эфирные масла дезодорируют, тонизируют и стимулируют кожу;<br>
				- обладает тонизирующим и омолаживающим действием, кожа становится мягкой и сияющей;<br><br>
			Состав: Английская основа Crystal SLS Free ,пищевой краситель ,композиция эфирных масел ,мак.<br><br>
			</p>
	</div>
	<div class="scrubs-about">
		<a href="#" class="descriptionProduct__link">
			<h2 class="descriptionProduct__title">Сахарный скраб</h2>
		</a>
		<p class="descriptionProduct__text">Сахарный скраб -сделает вашу кожу более мягкой ,благодаря тому ,что во время использования отшелушиваются ороговевшие частицы верхнего слоя кожи,после клетки получают насыщения кислородом. Также масло кокоса,входящае в состав сахарных скрабов, будет питать и увлажнять ее.<br><br>
		Состав сахарного скраба:<br>
		- английская основа Crystal SLS Free;<br>
 		- кремовая основа Crystal OPC ,кокосое масло ,пигманты и отдушка.<br><br>
		</p>
	</div>
	<div class="soap-about">
		<a href="#" class="descriptionProduct__link">
			<h2 class="descriptionProduct__title">Мыло ручной работы</h2>
		</a>
		<p class="descriptionProduct__text">Мыло ручной работы – это не только продукт для ухода за своим телом но и отличный подарок.<br><br> 
		Давайте рассмотрим особенности такого мыла и все его преимущества:<br>
		- самый главный плюс  уходового средства состоит в его безопасности. Купленные в магазине средства не всегда отличаются полезным составом;<br> 
		- в составе косметического мыла, купленного в магазине, присутствуют еще и синтетические ингредиенты. Они делают продукт более дешевым, но в то же время и менее полезным для нашего организма.
		- в составе мыло ручной работы входят качественные продукты и высококачественная английская основа ,которая не содержит Лаурил сульфат натрия ,мягкая по ощущению на коже;<br>
		- также пользу еще может добавить наличии базовых и эфирных масел, и глин, таких как черная, белая, голубая.<br><br>
		</p>
	</div>
	<div class="perfume-about">
		<a href="#" class="descriptionProduct__link">
			<h2 class="descriptionProduct__title">Духи ручной работы</h2>
		</a>
		<p class="descriptionProduct__text">Выиграшный вариант для тех,кто хочет качественый продукт по доступной цене - 
		это духи ручной работы.<br><br>
		Если Вы когда-нибудь покупали качественные духи в магазине, то знаете об их высокой стоимости.
		Но теперь вы не будите переплачивать.<br>
		Основа для духов это спирт и парфюмерная композиция, котороя настаиваится в течении 2 месяцев в закрытом темном месте, что способствует насыщенному и стойкому аромату от 8 и более 20 часов.<br><br>
		</p>
	</div>
	
</article>