<section class="cart-content">
	<h2 class="cart-content__title">Ваша корзина</h2>
	<div class="table-cart">
		<div class="table-cart__titles">
			<h5 class="table-cart__title table-cart__title--name">
				Наименование
			</h5>
			<h5 class="table-cart__title price">
				Цена
			</h5>
			<h5 class="table-cart__title quantity">
				Количество
			</h5>
			<h5 class="table-cart__title total">
				Сумма
			</h5>
			<h5 class="table-cart__title del">
				Удалить
			</h5>
		</div>
		<img src="./img/loading.gif" alt="loading" id="cart-loading" class="loading-img">
		<div class="table-cart__items" id="cart">
		</div>
		<div class="table-cart__total">
			<span class="table-cart__title table-cart__title--name">Итого</span>
			<span class="table-cart__title"></span>
			<span class="table-cart__title"></span>
			<span class="table-cart__title" id="total-sum">0</span>
			<span class="table-cart__title"></span>
		</div>
	</div>
	<a href="../order.html" class="cart-content__btn" id="order">Оформить заказ</a>
</section>