<section class="cart-content">
	<h2 class="cart-content__title">Ваша корзина</h2>
	<div class="table-cart">
		<div class="table-cart__titles">
			<h5 class="table-cart__title table-cart__title--name">
				Наименование
			</h5>
			<h5 class="table-cart__title price">
				Цена
			</h5>
			<h5 class="table-cart__title quantity">
				Количество
			</h5>
			<h5 class="table-cart__title total">
				Сумма
			</h5>
			<h5 class="table-cart__title del">
				Удалить
			</h5>
		</div>
		<div class="table-cart__items" id="cart">
		</div>
		<div class="table-cart__total">
			<span class="table-cart__title table-cart__title--name bold">Итого</span>
			<span class="table-cart__title"></span>
			<span class="table-cart__title"></span>
			<span class="table-cart__title bold" id="total-sum">0</span>
			<span class="table-cart__title"></span>
		</div>
	</div>
	<div class="cart-content__btn-wrap">
		<input type="button" class="cart-content__btn" id="order" value="Оформить заказ">
	</div>
	<article class="checkout">
		<div class="checkout__form disabledY">
			<div class="checkout__person">
				<input type="text" placeholder="Имя" class="checkout__data checkout__data--person" id="name" name="name" required>
				<input type="text" placeholder="Фамилия" class="checkout__data checkout__data--person" id="soname" required>
			</div>	
      		<input type="text" placeholder="Телефон" pattern="[\+]\d{12}" class="checkout__data" id="phone" required>
      		<input type="email" placeholder="Эл.почта" class="checkout__data" id="email" required>
			<div class="checkout__person">
				<input type="text" placeholder="Город" class="checkout__data checkout__data--person" id="city" required>
				<input type="text" placeholder="Отделение Новой Почты" class="checkout__data checkout__data--person" id="numberNP" required pattern="^[ 0-9]+$">
			</div>
			<input type="text" placeholder="Адрес" class="checkout__data" id="address" required>
			<input type="submit" name="submit" value="Отправить заказ" class="cart-content__btn" id="sendCheckout">
		</div>
	</article>
</section>
