<section class="header">
	<div class="burger" id="burger">
		<div class="burger__line"></div>
		<div class="burger__line"></div>
		<div class="burger__line"></div>
	</div>
	<section class="header__top">
		<h1 class="header__title">
			<a href="../index.html" class="header__logo">Handmade soap ideas</a>
		</h1>
		<div class="header__cart-wrap">
			<a href="#" class="header__cart-link">
				<i class="fas fa-cart-arrow-down header__cart"></i>
			</a>
			<span class="header__cart-count"></span>
		</div>
	</section>
	<nav class="header__nav" id="header__nav">
		<ul class="header__links">
			<li><a href="../index.html" class="header__link">Главная</a></li>
			<li><a href="../topSales.html" class="header__link">Топ продаж</a></li>
			<li><a href="../gallery.html" class="header__link">Галерея</a></li>
			<li><a href="../contact.html" class="header__link">Контакты</a></li>
		</ul>
	</nav>
</section>
<section class="btn-top">
	<div class="btn-top__wrap">	
		<a href="#" class="btn-top__link"></a>
		<svg x="0px" y="0px" class="btn-top__icon" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve"><g transform="matrix(0.9999 0 0 0.9999 0.0128 0.0128)"><g>
		<g>
		<polygon points="128,48.907 0,176.907 30.187,207.093 128,109.28 225.813,207.093 256,176.907   " data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
		</g>
		</g></g> 
		</svg>

	</div>
</section>