<meta charset="UTF-8">
<title>HANDMADE SOAP IDEAS-интернет-магазин мыла ручной работы,средств по уход и духов!</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="favicon.ico">
	
<link rel="stylesheet" href="css/styles.min.css">
<meta name="google-site-verification" content="1iXMbidBqNz4IFTPpYcOIOILhysEM53439cd4mDAOZY"/>	
<meta name="description" content="Интернет-магазин мыла ручной работы 'Handmade soap ideas'.Праздничные коллекции,средства по уходу,женская коллекция,мужская коллекция,мыльные букеты,детская коллекция,духи ручной работы.У нас вы найдете что искали!За несколько лет работы на рынке у нас сформировался большой выбор востребованных изделий из мыла и не только.">