<section class="header">
	<section class="header__top">
		<h1 class="header__title">
			<a href="#" class="header__logo">Handmade soap ideas</a>
		</h1>
		<div class="header__cart-wrap">
			<a href="#" class="header__cart-link">
				<i class="fas fa-cart-arrow-down header__cart"></i>
			</a>
			<span class="header__cart-count"></span>
		</div>
	</section>
	<nav class="header__nav">
		<ul class="header__links">
			<li><a href="#" class="header__link">Главная</a></li>
			<li><a href="#" class="header__link">Топ продаж</a></li>
			<li><a href="#" class="header__link">Галерея</a></li>
			<li><a href="#" class="header__link">Контакты</a></li>
		</ul>
	</nav>
</section>