<article class="offer">
	<div class="offer__title-wrap">
		<h3 class="offer__title">У нас вы найдете</h3>
	</div>
	<div class="offer__items">
		<a href="gallery.html#holiday-collection" class="offer__item offer__item--1">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/set.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Праздничные коллекции</h2>
			</div>
		</a>
		<a href="gallery.html#beauty-collection" class="offer__item offer__item--2">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/lips.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Средства по уходу</h2>
			</div>
		</a>
		<a href="gallery.html#man-collection" class="offer__item offer__item--3">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/mens.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Мужская коллекция</h2>
			</div>
		</a>
		<a href="gallery.html#woman-collection" class="offer__item offer__item--4 womanShow">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/women.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Женская коллекция</h2>
			</div>
		</a>
		<a href="gallery.html#baby-collection" class="offer__item offer__item--5">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/child.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Детская коллекции</h2>
			</div>
		</a>
		<a href="gallery.html#bouquet-collection" class="offer__item offer__item--6">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/flowers.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Мыльные букеты</h2>
			</div>
		</a>
		<a href="gallery.html#perfume-collection" class="offer__item offer__item--7">
			<div class="offer__img-wrap">
				<img loading="lazy" src="./img/parfume.jpg" alt="saop" class="offer__img lazyload">
			</div>
			<div class="offer__description-wrap">
				<h2 class="offer__description">Духи ручной работы</h2>
			</div>
		</a>
	</div>
</article>