<article class="reviews">
	<div class="reviews__title-wrap">
		<h3 class="reviews__title">Отзывы</h3>
	</div>
	<div class="reviews__card-wrap">
		<div class="reviews__cards owl-carousel">
			<div class="reviews__card">
				<div class="reviews__img-wrap">
					<img src="./img/reviews1.jpg" loading="lazy" alt="photo" class="reviews__photo">
				</div>
				<blockquote class="reviews__blockquote">
					<p class="reviews__text">Посылочку получила, все супер! Ароматы нравятся) У Вас золотые руки!</p>
				</blockquote>
				<a href="https://instagram.com/nataliagul38?igshid=clv849yc671s" rel="author" class="reviews__author lazyload">Наталья</a>
				<span class="reviews__position">Клиент</span>		
			</div>
			<div class="reviews__card">
				<div class="reviews__img-wrap">
					<img src="./img/reviews2.jpg" alt="photo" class="reviews__photo lazyload" loading="lazy">
				</div>
				<blockquote class="reviews__blockquote">
					<p class="reviews__text">Добрый вечер! Посылочку получила, всё такое классное!!! Супер!!! За подарочек отдельное спасибо, очень приятно!!!</p>
				</blockquote>
				<a href="https://instagram.com/irinayakovchuk?igshid=19xsxva69bbmd" rel="author" class="reviews__author">Ирина</a>
				<span class="reviews__position">Клиент</span>		
			</div>
			<div class="reviews__card">
				<div class="reviews__img-wrap">
					<img src="./img/reviews3.jpg" alt="photo" class="reviews__photo lazyload" loading="lazy">
				</div>
				<blockquote class="reviews__blockquote">
					<p class="reviews__text">Спасибо огромное!!))получила  посылку!!все классное,и за подарочек отдельное спасибо!!!)😗с наступающим Рождеством!!Дай Бог Вам богатых клиентов!!!)))))</p>
				</blockquote>
				<a href="https://instagram.com/inna.bezn?igshid=17ldtz23peopd" rel="author" class="reviews__author">Инна</a>
				<span class="reviews__position">Клиент</span>		
			</div>
			<div class="reviews__card">
				<div class="reviews__img-wrap">
					<img src="./img/reviews4.jpg" alt="photo" class="reviews__photo lazyload" loading="lazy">
				</div>
				<blockquote class="reviews__blockquote">
					<p class="reviews__text">Спасибо, получила посылку. Мылко супер. Удачных вам продаж</p>
				</blockquote>
				<a href=https://instagram.com/elena.varava.10?igshid=1qmgfpwp2qmyo" rel="author" class="reviews__author">Елена</a>
				<span class="reviews__position">Клиент</span>		
			</div>
			<div class="reviews__card">
				<div class="reviews__img-wrap">
					<img src="./img/reviews5.jpg" alt="photo" class="reviews__photo lazyload" loading="lazy">
				</div>
				<blockquote class="reviews__blockquote">
					<p class="reviews__text">Спасибо вам за ваше мыло для лица с глиной.🌹 Вы приносили в ТЦ Обжора. Очень понравилось😊.<br>
					Спасибо большое,за такие шикарные  подарки))</p>
				</blockquote>
				<a href="https://instagram.com/ekaterinanefedova4510?igshid=zbkhd4seefb4" rel="author" class="reviews__author">Екатерина</a>
				<span class="reviews__position">Клиент</span>		
			</div>
		</div>
	</div>
</article>	