<article class="wrap-slide">
	<div class="slides owl-carousel owl-theme">
		<div class="slide">
			<img src="./img/slide1.jpg" class="slide__img" alt="Сахарный скраб">
			<div class="slide__content">
				<h3 class="slide__title">Сахарный скраб</h3>
				<p class="slide__text">Средство, благодаря которому , кожа становится более сияющей и гладкой!</p>
				<a href="../beauty-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide2.jpg" class="slide__img" alt="Мыло Торт">
			<div class="slide__content">
				<h3 class="slide__title">Мыло Торт</h3>
				<p class="slide__text">Оригинальный подарок для любого случая. Он удивиит и порадует своего обладателя!</p>
				<a href="../woman-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide3.jpg" class="slide__img" alt="Мыльный цветок">
			<div class="slide__content">
				<h3 class="slide__title">Мыльный цветок</h3>
				<p class="slide__text">Его хрупкость и утонченность деталей захватывают дух!</p>
				<a href="../bouquet-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide4.jpg" class="slide__img" alt="Люфа">
			<div class="slide__content">
				<h3 class="slide__title">Натуральный массажер ручной работы</h3>
				<p class="slide__text">Мыло с люфой стимулирует кровообращение и обладает антицеллюлитным действием!</p>
				<a href="../beauty-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
	</div>
</article>