<section class="wrap-slide">
	<article class="slides owl-carousel owl-theme">
		<div class="slide">
			<img src="./img/slide1.jpg" class="slide__img" alt="soap" loading="lazy">
			<div class="slide__content">
				<h3 class="slide__title">Сахарный скраб</h2>
				<p class="slide__text">Средство, благодаря которому , кожа становится более сияющей и гладкой!</p>
				<a href="../beauty-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide2.jpg" class="slide__img" alt="soap" loading="lazy">
			<div class="slide__content">
				<h3 class="slide__title">Мыло Торт</h2>
				<p class="slide__text">Оригинальный подарок для любого случая. Он удивиит и порадует своего обладателя!</p>
				<a href="../woman-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide3.jpg" class="slide__img" alt="soap" loading="lazy">
			<div class="slide__content">
				<h3 class="slide__title">Мыльный цветок</h2>
				<p class="slide__text">Его хрупкость и утонченность деталей захватывают дух!</p>
				<a href="../bouquet-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
		<div class="slide">
			<img src="./img/slide4.jpg" class="slide__img" alt="soap" loading="lazy">
			<div class="slide__content">
				<h3 class="slide__title">Натуральный массажер ручной работы</h2>
				<p class="slide__text">Мыло с люфой стимулирует кровообращение и обладает антицеллюлитным действием!</p>
				<a href="../beauty-collection.html" class="slide__link">Заказать</a>
			</div>
		</div>
	</article>
</section>