@import 'normalize';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600,700|Ma+Shan+Zheng&display=swap&subset=cyrillic');
// @import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Raleway:700,900&display=swap');
@import './owl/_theme.default';
@import './owl/owl.carousel';
@import 'animate';
@import 'gallery';
@import 'contact';
@import 'aboutProduct';
@import 'cart';




h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}



* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}
// font-family: 'Ma Shan Zheng', cursive;
body {
	// font-family: 'Raleway', sans-serif;
	font-family: 'Comfortaa', cursive, serif;
	font-size: 1.8rem;
	line-height: 1.6;
	color: $current-color;
	min-height: 100%;
	position: relative;	
}
.overflow {
	overflow: hidden;
}



.container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}


.header	{
	@include myPos(0, 50%, -50%, 0);
	@include tr(.3s);
	width: 80%;
	max-width: 1200px;
	top: 40px;
	background-color: rgba(39, 39, 39, .7);
	z-index: 10;
	border-radius: 2px;
	color: $lite-color;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;
		border-bottom: 2px solid rgba(239,196,163,.9);
		@include tr(.3s)
	}
	&__title {
		@include tr(.2s);
		display: flex;
		flex-direction: column;
		&:hover,
		&:focus {
			transform: scale(1.05);
		}
	}
	&__logo {
		font-size: 3.5rem;
		text-transform: uppercase;
		font-family: 'Ma Shan Zheng', cursive;
		letter-spacing: 1px;
		word-spacing: 20px;
		font-weight: 500;
		text-decoration: none;
		color: $lite-color;
		line-height: 1;
		padding: 5px 0;
	}
	&__sublogo {
		font-size: 1.6rem;
		line-height: 1;
		padding-bottom: 6px;
		font-family: 'Ma Shan Zheng', cursive;
	}
	&__cart {
		font-size: 3rem;
		fill: $lite-color;
		height: 36px;
		width: 40px;
		@include tr(.2s);
	}
	&__cart-link {
		width: 100%;
		height: 100%;
		&:hover .header__cart,
		&:active .header__cart,
		&:focus .header__cart {
			fill: $hover-color;
		}
	}
	&__cart-wrap {
		position: relative;
		top: 3px;
	}
	&__cart-count {
		position: absolute;
		width: 25px;
		height: 25px;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1;
		color: $hover-color;
		border-radius: 50%;
		border: 2px solid $lite-color;
		background: $current-color;
		right: -8px;
		top: -5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__nav {
		height: 50px;
		margin: 0 auto;
		@include tr(.5s);
	}
	&__links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 0;
	}	
	&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			@include tr(.2s);
			cursor: pointer;
			&:hover .header__link,
			&:focus .header__link {
				color: $current-color;
			}
			&:hover,
			&:focus,
			&:active {
				background-color: $hover-color;
			}
			&:active .header__link {
				color: $lite-color;
			}
	
	}
	&__link {
		color: $lite-color;
		text-transform: uppercase;
		font-size: 1.6rem;
		text-decoration: none;
		font-weight: bold;
		@include tr(.2s);
		background: transparent;
		display: flex;
		padding: 0 10px;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;	
	}

}
.submenuShow {
	position: relative;
}
.submenuShow:hover .gallery__links,
.submenuShow:focus .gallery__links {
	transform: translateY(0);
}
.submenuShow:hover .gallery__nav,
.submenuShow:focus .gallery__nav {
	visibility: visible;
}
.gallery {
	&__nav {
		visibility: hidden;
		overflow: hidden;
		width: 250px;
		position: absolute;
		top: 50px;
		left: 0;
	}
	&__links {
		@include tr(.4s);
		display: flex;
		transform: translateY(-100%);
		overflow: hidden;
		margin: 0;
		padding: 5px 0 5px 15px;
		
		flex-direction: column;
		background: rgba(39,39,39,0.8);
		align-items: center;
		justify-content: center;
	}
	&__link {
		text-decoration: none;
		text-transform: capitalize;
		color: $lite-color;
		font-size: 1.4rem;
		border-left: 4px solid transparent;
		@include tr(.15s);
	}
	&__link-item {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding: 5px;
		&:hover .gallery__link,
		&:active .gallery__link,
		&:focus .gallery__link {
			border-left: 4px solid $hover-color;
			padding-left: 20px;
		}
	}
}
.fixedHeader {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 100%;
	background-color: rgba(39, 39, 39, 1);
	.header__logo {
		font-size: 2.2rem;
	}
	.header__top {
		padding: 0 25%;
	}
	.header__nav {
		width: 80%;
	}
	.header__link {
		font-size: 1.4rem;
	}
}
.current-tab {
	background-color: $hover-color;
}
.btn-top {
	position: fixed;
	height: 50px;
	width: 50px;
	z-index: 20;
	bottom: 50px;
	right: 15px;
	overflow: hidden;
	visibility: hidden;
	cursor: pointer;
	border-radius: 2px;
	@include tr(.3s);
	&__wrap {
		background: #976f55;
		position: relative;
		width: 100%;
		height: 100%;
		transform: translateY(101%);
		@include tr(.4s);
		&:hover,
		&:active,
		&:focus {
			background: #111;
		}
	}
	&__link {
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		z-index: 30;
	}
	&__icon {
		fill: #fff;
		@include myPos();
		height: 20px;
		width: 20px;
	}
}

.burger {
    position: absolute;
	top: 17px;
	left: 20px;
    z-index: 5;
    display: none;
    margin-right: 25px;
    cursor: pointer;
	&__line {
		position: relative;
		transition: all .2s ease-in;
		width: 30px;
		height: 3px;
		background-color: #fff;
		@include tr(.2s);
		&:not(:first-of-type) {
    		margin-top: 7px;
		}
		&.rotate {
			&:first-of-type {
				transform: rotate(-45deg);
				top: 9px;
			}
			&:last-of-type {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
	&:hover .burger__line,
	&:focus .burger__line,
	&:active .burger__line {
		background-color: $hover-color;
	}
}
.show {
	display: block !important;
	transform: translateX(0) !important;
	z-index: 50 !important;
}


//Slides soap*********************************************************
.wrap-slide {
	position: relative;
}
.slides {
	// overflow: hidden;
	position: relative;
}
.slide {
	background: rgb(0,0,0);
	background: radial-gradient(circle,rgba(32,32,32,.2)  0%, rgba(73,65,65,.5) 23%,rgba(0,0,0,1) 100%);
	height: 700px;
	width: 100%;
	// max-height: 95vh;
	// object-fit: cover;
	position: relative;
	overflow: hidden;
	&__img {
		@include myPos(0, 50%, -50%, 0);
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		position: relative;
	}
	&__content {
		position: absolute;
		bottom: 10%;
		left: 10%;
		width: 460px;
		color: $lite-color;
	}
	&__title {
		font-size: 6rem;
		line-height: 1.2;
	}
	&__text {
		font-size: 1.6rem;
		margin: 20px 0 40px 0;
		padding-right: 20px;
	}
	&__link {
		color: $lite-color;
		text-shadow: -1px 0px 4px #000;
		border: 2px solid $lite-color;
		text-decoration: none;
		padding: 20px 40px;
		text-transform: uppercase;
		@include tr(.3s);
		position: relative;
		z-index: 5;
		// background: rgba(239, 196, 163,.8);
		&:before {
			content: "";
			display: block;
			width: 0px;
			height: 0px;
			@include myPos();
			background: rgba(239, 196, 163,.6);
			@include tr(.3s);
			z-index: -1;
		}
		&:hover::before,
		&:focus::before {
			width: 101%;
			height: 100%;
		}
		&:hover,
		&:focus {
			background: transparent;
			border-color: $current-color;
			box-shadow: 0px 0px 15px 5px rgba(0,0,0,.9);
			color: $current-color;
			text-shadow: none;
		}
	}
}
//nav-slider**********************************************
.owl-prev,
.owl-next {
	outline: none;
	display: block !important;
	background: transparent !important;
	position: absolute;
	z-index: 5;
	width: 0;
	height: 0;
	border-radius: 0 !important;
	border: 10px solid !important;
	span {
		display: none;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 45px;
		height: 45px;
		background: rgba(255,255,255,.5) !important;
		opacity: .5;
		border-radius: 2px;
		@include tr(.3s);
	}
	&:hover:after {
  		animation-iteration-count: 5;
		border-radius: 50% !important;
		background-color: $hover-color !important;
	}	
}
.owl-next {
	transform: translateY(-50%);
	top: 50%;
	right: 35px;
	border-color: (transparent transparent transparent $hover-color) !important;
	&:hover:after {
		animation: .25s linear rotate-next;
	}
	&:after {
		right: -16px;	
	}
}
.owl-prev {
	transform: translateY(-50%);
	top: 50%;
	left: 35px;
	border-color: (transparent $hover-color transparent transparent) !important;
	&:hover:after {
		animation: .25s linear rotate-prev;
	}
	&:after {
		left: -16px;
	}
}
@keyframes rotate-next {
	0% {
		transform: translateY(-50%) rotate(0);
	}
	25% {
		transform: translateY(-50%)  rotate(45deg);
	}
	50% {
		transform:  translateY(-50%) rotate(90deg);
	}
	75% {
		transform:  translateY(-50%) rotate(135deg);
	}
	100% {
		transform:  translateY(-50%) rotate(180deg);
	}

}
@keyframes rotate-prev {
	0% {
		transform: translateY(-50%) rotate(0);
	}
	25% {
		transform: translateY(-50%)  rotate(-45deg);
	}
	50% {
		transform:  translateY(-50%) rotate(-90deg);
	}
	75% {
		transform:  translateY(-50%) rotate(-135deg);
	}
	100% {
		transform:  translateY(-50%) rotate(-180deg);
	}

}



//Block about,popular****************************************************
.offer,
.popular,
.about,
.reviews {
	padding: 60px 0 50px 0;
	text-align: center;
	overflow: hidden;
	&__title {
		font-size: 1.8rem;
		overflow: hidden;
		padding: 0 16px;
		background-color: $lite-color;
		display: inline-block;
		margin: 0 auto;
		z-index: 2;
		position: relative;
	}
	&__title-wrap {
		position: relative;
		margin: 0 auto;
		&:before {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background:rgba(0,0,0,.3);
			position: absolute;
			top: 13px;
			
		}
	}
}
.offer,
.popular {	
	&__items {
		margin-top: 30px;
		width: 100%;
		// height: 1350px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	&__item {
		color: $current-color;
		text-decoration: none;
		@include tr(.3s);
		&:hover .offer__img,
		&:focus .offer__img {
			transform: scale(1.1);
		}
		&:hover .offer__description,
		&:focus .offer__description {
			letter-spacing: .1px;
			color: $lite-color;
		}
		&:hover .offer__description-wrap, 
		&:focus .offer__description-wrap {
			border-color: $hover-color;	
		}
		&:hover .offer__description-wrap:before, 
		&:focus .offer__description-wrap:before {
			transform: translateX(0);
		}
		&:hover,
		&:focus {
			box-shadow: 0px 0px 15px 2px rgba(0,0,0,.5);
		}
		&--1 {
			grid-area: 1 / 1 / 2 / 3; 
		}
		&--2 {
			grid-area: 1 / 3 / 2 / 4;
		}
		&--3 {
			grid-area: 2 / 1 / 3 / 2;
		}
		&--4 {
			grid-area: 2 / 2 / 3 / 3;
		}
		&--5 {
			grid-area: 2 / 3 / 3 / 4;
		}
		&--6 {
			grid-area: 3 / 1 / 4 / 2;
		}
		&--7 {
			grid-area: 3 / 2 / 4 / 3;
		}

	}
	&__img-wrap {
		width: 100%;
		height: 320px;
		position: relative;
		overflow: hidden;
		z-index: 5;
	}
	&__img {
		@include tr(.2s);
		// @include myPos();
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: relative;
		
	}
	&__description-wrap {
		padding: 20px 10px 20px 15px;
		text-align: left;
		height: 27%;
		border: 1px solid rgba(0,0,0,.1);
		@include tr(.3s);
		position: relative;
		overflow: hidden;
		z-index: 5;
		display: flex;
		align-items: center;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $hover-color;
			@include tr(.3s);
			z-index: -1;
			transform: translateX(-101%);
		}
	}
	&__description {
		font-size: 2rem;
		letter-spacing: -1px;
		text-transform: uppercase;
		font-weight: 900;
		@include tr(.3s);
	}
	
}
.popular {
	&__items {
		height: 800px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;	
	}
	&__item {
		height: 100%;
		width: 100%;
		&--1 {
			grid-area: 1 / 1 / 3 / 3;
			.popular__img-wrap {
				height: 100%;
				padding: 0;
			}
			&:hover,
			&:focus {
				box-shadow: none;
			}
		}
		&--2 {
			grid-area: 1 / 3 / 2 / 4;
		}
		&--3 {
			grid-area: 1 / 4 / 2 / 5;
		}
		&--4 {
			grid-area: 2 / 3 / 3 / 4;
		}
		&--5 {
			grid-area: 2 / 4 / 3 / 5;
		}
		&:hover .popular__img-wrap:before,
		&:focus .popular__img-wrap:before {
			width: 100%;
			height: 100%;
		}
		&:hover .popular__img,
		&:focus .popular__img {
			transform: scale(1.05);
		}
		&:hover .popular__description,
		&:focus .popular__description {
			letter-spacing: 0px;
			color: $hover-color;
		}
		
	}
	&__img-wrap {
		height: 75%;
		width: 100%;
		padding: 60px 30px;
		background: #f4f4f4;
		position: relative;
		&:before {
			content: "";
			display: block;
			height: 0;
			width: 0;
			position: absolute;
			top: 0;
			left: 0;
			// @include myPos();
			background-color: rgba(0,0,0,.1);
			@include tr(.4s);
		}
	}
	&__img--notscale {
		transform: none !important;
	}
	&__description-wrap {
		border: none;
		padding: 25px 5px 0 10px;
		margin-bottom: -15px;
		height: auto;
	}
	&__description {
		font-size: 1.5rem;
		font-weight: 700;
	}
}


//About-card block**********************************************
.about-card {
	display: flex;
	justify-content: space-between;
	padding: 50px 15px;
	overflow: hidden;
	&__item {
		width: 30%;
		max-width: 30%;
		// height: 200px;
		text-align: center;
		text-decoration: none;
		color: $current-color;
		display: flex;
		align-items: center;
		border: 4px solid rgba(0,0,0,.5);
		padding: 110px 20px 10px 20px;
		position: relative;
		justify-content: center;
		flex-direction: column;
		background: $lite-color;
		@include tr(.3s);
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			@include myPos();
			background: $hover-color;
			@include tr(.3s);
			z-index: -1;
		}
		&:hover .about-card__icon,
		&:focus .about-card__icon {
			fill: $lite-color;
		}
		&:hover,
		&:focus {
			background: transparent;
			box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: 2rem;
		max-height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 900;
		color: rgba(0,0,0,.8);
		letter-spacing: -1px;
		margin-top: 10px;
	}
	&__icon {
		@include myPos();
		top: 30%;
		width: 90px;
		height: 90px;
		fill: $hover-color;
		@include tr(.3s);
	}
}
.about-card__item:hover:before,
.about-card__item:focus:before {
	width: 100%;
	height: 100%;
}


//Hint block**************************************************
.hint {
	padding: 100px 0 50px 0;
	position: relative;
	overflow: hidden;
	background: #000;
	background: radial-gradient(circle, rgba(32,32,32,0.5) 0%, rgba(73,65,65,0.8) 23%, #000 100%);
	color: $lite-color;
	&__bg {
		z-index: -1;
		@include myPos();
		object-fit: cover;
	}
	&__wrap {
		width: 80%;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__link-soc {
		text-decoration: none;
		&:hover .hint__icon-soc,
		&:focus .hint__icon-soc{
			fill: $hover-color;
			transform: scale(1.09);
		}
	}
	&__social {
		display: flex;
		justify-content: space-around;
		width: 30%;
		margin: 50px auto 0 auto;
	}
	&__icon-soc {
		width: 40px;
		height: 40px;
		fill: #fff;
		@include tr(.2s);
	}
}
.hint-one {
	margin-top: 30px;
	padding: 0 20%;
	&__text {
		font-size: 1.4rem;
		text-align: center;
	}
}
.hint-two {
	text-align: center;
	&__title {
		text-transform: uppercase;
		font-size: 4rem;
		word-spacing: 10px;
	}
	&__text {
		font-size: 2rem;
		padding: 0 30px;
	}
	&__link {
		margin-top: 20px;
		color: $lite-color;
		text-shadow: -1px 0px 4px #000;
    	border: 2px solid transparent;
    	text-decoration: none;
    	padding: 20px 40px;
    	text-transform: uppercase;
	    transition: all .3s ease-in;
		display: inline-block;
		background-color: $hover-color;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			@include myPos();
			background: rgba(0,0,0,.6);
			@include tr(.3s);
			z-index: -1;
		}
		&:hover::before,
		&:focus::before {
			width: 100%;
			height: 100%;
		}
		&:hover,
		&:focus {
			background: transparent;
			border-color: $lite-color;
			box-shadow: 0px 0px 21px 9px rgba(0,0,0,0.75);
		}
	}
}




//About block ********************************************************
.about {
	&__items {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	&__item {
		width: 50%;
		text-align: center;
		align-items: center;
		&:first-of-type {
			border-right: 1px solid rgba(0,0,0,.2);
		}
	}
	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5px;
	}
	&__name {
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: 700;
		color: rgba(0,0,0,.6);
	}
	&__num {
		font-weight: 900;
		font-size: 4.5rem;
		margin-right: 15px;
		line-height: 1;	
	}
	&__icon {
		width: 44px;
		height: 44px;
		fill: rgb(149, 110, 84);
	}
}


//Reviews block*****************************************************
.reviews {
	padding: 20px 0 100px 0;
	&__cards {
		width: 100%;
		height: auto;
	}
	&__card-wrap {
		display: flex;
		justify-content: center;
		margin: 45px 5px 0 5px;
		box-shadow: 2px 3px 6px 0 rgba(0,0,0,.17);
		position: relative;
		background: $lite-color;
		&::after,
		&::before {
			content: "";
			display: block;
			width: 95%;
			height: 50px;
			background: #f4f4f4;
			z-index: -1;
			top: -9px;
			position: absolute;
			margin: 0 auto;
		}
		&::before {
			background:#e8e8e8;
			top: -15px;
			z-index: -2;
			width: 90%;
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 5px 20px 5px;
	}
	&__img-wrap {
		width: 95px;
		height: 95px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		img {
			@include myPos();
			object-fit: cover;
			max-width: 100%;
		}
	}
	&__text {
		font-size: 1.6rem;
		text-align: center;
		height: 80px;
		max-height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 auto;
	}
	&__blockquote {
		position: relative;
		width: 50%;
		&::after {
			content: '\201D';
			top: -15px;
			right: -20px;
		}
		&::before {
			content: '\201C';
			top: -15px;
			left: -20px;
		}
		&::before,
		&::after {
			position: absolute;
    		font-size: 54px;
    		line-height: 1;
    		font-family: teko,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    		color: #efc4a3;
		}
	}
	&__author {
		text-decoration: none;
		text-transform: uppercase;
		color: $current-color;
		font-weight: 700;
		font-size: 2.4rem;
		@include tr(.2s);
		&:hover,
		&:focus,
		&:active {
			color: $hover-color;
		}
	}
	&__position {
		font-size: 1.4rem;
		color: $hover-color;
	}

}
.reviews__cards button.owl-next,
.reviews__cards button.owl-prev {
	display: none !important;
}
.slides button.owl-dot span,
.reviews__cards button.owl-dot {
	width: 12px !important;
	height: 12px !important;
	background: rgb(155, 155, 155) !important;
	margin: 5px !important;
	border-radius: 0 !important;
	@include tr(.2s);
	&:hover {
		background: rgb(151, 111, 85) !important;
	}
}
.slides button.owl-dot.active span,
.reviews__cards button.owl-dot.active {
	background: rgb(151, 111, 85) !important;
}
.slides .owl-dots,
.reviews__cards .owl-dots {
	position: absolute;
	left: 50%;
	bottom: -60px;
	transform: translateX(-50%);
	z-index: 40;
}
.slides .owl-dots {
	bottom: -40px;
}



//Footer*******************************************************
.footer {
	background: rgb(39, 39, 39);
	overflow: hidden;
	&__top {
		display: flex;
		padding: 65px 0;
	}
	&__info,
	&__mail,
	&__gallery {
		flex: 1;
		padding: 0 20px;
	}
	&__gallery {
		text-align: center;
		background: rgb(39, 39, 39);
	}
	&__logo {
		font-size: 2.5rem;
		color: $lite-color;
		text-transform: uppercase;
		font-family: 'Ma Shan Zheng', cursive;
		letter-spacing: 1px;
		word-spacing: 10px;
		font-weight: 500;
		text-decoration: none;
	}
	&__text,
	&__mail-subtitle {
		font-size: 1.4rem;
		color: rgba(255,255,255,.3);
		padding: 17px 0;
	}
	&__text {	
		border-bottom: 1px solid rgba(255,255,255,.3);
		padding: 20px 0 38px 0;
	}
	&__icon {
		width: 20px;
		height: 20px;
		fill: $hover-color;
		margin-right: 10px;
	}
	&__tel,
	&__time {
		text-decoration: none;
		color: $lite-color;
		font-size: 1.8rem;
		@include tr(.2s);
	}
	&__tel {
		&:hover,
		&:focus {
			color: $hover-color;
		}
	}
	&__time-wrap {
		margin-top: 20px;
	}
	&__tel-wrap {
		margin-top: 40px;
	}
	&__mail-title,
	&__gallery-title {
		font-size: 2.4rem;
		color: $lite-color;
		line-height: 1.8;
		letter-spacing: -1px;
	}
	&__icon-soc {
		width: 20px;
		height: 20px;
		fill: $lite-color;
		@include tr(.2s);
	}
	&__link-soc {
		text-decoration: none;
		outline: none;
		margin: 0 8px;
		&:hover .footer__icon-soc,
		&:focus .footer__icon-soc {
			fill: $hover-color;
		}
	}
	&__soc-links {
		display: flex;
		justify-content: space-around;
	}
	&__soc-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		span {
			font-size: 1.4rem;
			color: $lite-color;
		}
	}
	&__form {
		text-align: center;
	}
	&__email,
	&__submit {
		width: 100%;
		height: 60px;
		outline: none;
		color: $lite-color;
		border: 1px solid transparent;
		@include tr(.3s);
	}
	&__email {
		background: #474747;
		font-size: 1.4rem;
		text-align: center;
		&::placeholder {
			color: $lite-color;
		}
		&:hover,
		&:focus {
			border-color: $hover-color;
			box-shadow: 0px 0px 21px 9px rgba(0,0,0,0.75);
		}
	}
	&__submit {
		margin-top: 10px;
		background: $hover-color;
		text-transform: uppercase;
		font-size: 1.6rem;
		cursor: pointer;
		position: relative;
		&:before {
			content: " ";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.6);
			@include tr(.3s);
			z-index: 5;
			transform: translateX(-101%);
		}
		&:hover::before,
		&:focus::before {
			transform: translateX(0);
		}
		&:hover,
		&:focus {
			background: transparent;
			border-color: $hover-color;
			box-shadow: 0px 0px 21px 9px rgba(0,0,0,0.75);
		}
	}
	&__gallery-wrap {
		margin-top: 20px;
		padding-top: 10px;
		height: 100%;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(2, minmax(120px,120px));
		grid-template-rows: repeat(2, minmax(90px,90px));
		grid-gap: 10px;
		overflow: hidden;
	}
	&__gallery-item {
		display: block;
		overflow: hidden;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		border: 2px solid transparent;
		@include tr(.4s);
		z-index: 5;
		&:hover,
		&:active {
			background: rgba(0,0,0,.5);
			box-shadow: 0px 0px 15px 2px rgba(255, 255, 255,.5);
		}
		&:hover .footer__gallery-img,
		&:active .footer__gallery-img {
			transform: scale(1.1);
		}
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			@include myPos();
			background: rgba(0,0,0,.6);
			@include tr(.4s);
			z-index: 1;
		}
		&:hover::before,
		&:focus::before {
			width: 100%;
			height: 100%;
		}
		img {
			@include myPos();
			max-width: 100%;
		}

	}
	&__gallery-img {
		@include myPos(0,0,0,0);
		max-width: 100%;
		object-fit: cover;
		max-height: 120px;
		min-height: 120px;	
		z-index: -1;
		@include tr(.3s);
	}
}
.policy {
	background: #202020;
	&__wrap {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		color: rgba(255, 255, 255, 0.5);
		font-size: 1.2rem;
	}
	&__link {
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		@include tr(.2s);
		&:hover,
		&:active,
		&:focus {
			color: $hover-color;
		}
	}
}




@import 'media';
